<div class="flex flex-col items-center justify-center min-h-screen bg-orange-100 p-4">
  <div class="bg-blue-300 p-8 rounded-xl shadow-xl w-full max-w-md">
    <h2 class="text-3xl font-cursive text-start text-white mb-8">Cadastro</h2>
    <form class="space-y-6">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          placeholder="Ex. pat@example.com"
        />
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Digite um email válido</mat-error>
        } @if (emailFormControl.hasError('required')) {
        <mat-error>Email é <strong>obrigatório</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" />
        @if (passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required'))
        {
        <mat-error>Digite uma senha maior que 6 caracteres</mat-error>
        } @if (passwordFormControl.hasError('required')) {
        <mat-error>Senha é <strong>obrigatório</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Confirmar Senha</mat-label>
        <input type="password" matInput [formControl]="confirmPasswordFormControl" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Nome de Usuário</mat-label>
        <input
          type="text"
          matInput
          [formControl]="usernameFormControl"
          placeholder="Ex. Matheus123"
        />
        @if (usernameFormControl.hasError('minlength') && !usernameFormControl.hasError('required'))
        {
        <mat-error>Digite um nome com mais de 4 caracteres</mat-error>
        } @if (usernameFormControl.hasError('required')) {
        <mat-error>Nome de Usuário é <strong>obrigatório</strong></mat-error>
        }
      </mat-form-field>
      <div class="flex justify-center">
        <button
          matFab
          extended
          class="send-button text-white px-2 py-3 flex font-inter font-semibold items-center justify-center cursor-pointer hover:bg-blue-400 transition-colors rounded-4xl hover:shadow-lg"
        >
          Enviar
          <mat-icon class="ml-2">send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
